/* content */

#board{
    width:400px;
    height:400px;
    background-color: #f2e0ff;
    border: 6px solid #e6c2ff;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 90px;
    height: 90px;
    border: 5px solid #ecd1ff;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* colored tiles */

.x2{
    background-color: #e6c2ff;
    color: white;
}

.x4{
    background-color: #dfb3ff;
    color: white;
}

.x8{
    background-color: #d9a3ff;
    color: white;
}

.x16{
    background-color: #d294ff;
    color: white;
}

.x32{
    background-color: #cc85ff;
    color: white;
}

.x64{
    background-color: #c675ff;
    color: white;
}

.x128{
    background-color: #bf66ff;
    color: white;
}

.x256{
    background-color: #b957ff;
    color: white;
}

.x512{
    background-color: #b347ff;
    color: white;
}

.x1024{
    background-color: #ac38ff;
    color: white;
}

.x2048{
    background-color: #a424ff;
    color: white;
}

.x4096{
    background-color: #9f1aff;
    color: white;
}

.x8192{
    background-color: #990aff;
    color: white;
}